@page "/Teacher"

<h1>Teacher Control</h1>

<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <button class="btn btn-primary" data-toggle="modal" data-target="#AddEditEmpModal" onclick="">
                <i class="fa fa-user-plus"></i>
                Inscribir estudiante
                <a href="https://localhost:5001/Inscripcion"> </a>

            </button>
        </div>
        <div class="input-group col-md-4 offset-md-5">
            <input type="text" class="form-control" placeholder="Buscar estudiante" bind="" />
            <div class="input-group-append">
                <button class="btn btn-info" onclick="">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<br />

else
{
    <table class='table'>
        <thead>
            <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Matricula</th>
                <th>Nota</th>
            </tr>
        </thead>
        <tbody>
            
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button class="btn btn-outline-dark" data-toggle="modal" data-target="#AddEditEmpModal"
                                onclick="">
                            <i class="fa fa-pencil-square-o"></i>
                            Editar
                        </button>
                        <button class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteEmpModal"
                                onclick="">
                            <i class="fa fa-trash-o"></i>
                            Eliminar
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<div class="modal fade" id="AddEditEmpModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"></h3>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input class="form-control" bind="" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Gender</label>
                        <select class="form-control" bind="">
                            <option value="">-- Select Gender --</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Designation</label>
                        <input class="form-control" bind="" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">City</label>
                        <select class="form-control" bind="">
                            <option value="-- Select City --">-- Select City --</option>
                            
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-block btn-success"
                        onclick="" data-dismiss="modal">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteEmpModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Confirm Delete !!!</h3>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <td>Name</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Designation</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal"
                        
                    Delete
                </button>
                <button data-dismiss="modal" class="btn">Cancel</button>
            </div>
        </div>
    </div>
</div>



@code{

}